#

In [ ]:
#1 What are data structures, and why are they important3
.Data structures are a way of organizing and storing data in a computer so that it can be used efficiently
#2 Explain the difference between mutable and immutable data types with examples
.In programming, mutable data types can be modified after their creation, while immutable data types cannot
#3 What are the main differences between lists and tuples in Python3
 .Lists are mutable, meaning their elements can be changed, added, or removed after creation. Tuples are immutable, meaning their elements cannot be modified, added, or removed once the tuple is created
#4 Describe how dictionaries store data
.Dictionaries are used to store data values in key:value pairs. 
#5 Why might you use a set instead of a list in Python3

#6 What is a string in Python, and how is it different from a list
.Strings in Python are sequences of characters enclosed in quotes ('' or “”). Lists are ordered collections of items enclosed in square brackets []. 2) Strings are immutable, meaning they cannot be changed once created, while lists are mutable and can be modified as needed.
#7 How do tuples ensure data integrity in Python
.A tuple is an immutable data structure. Once created, its content cannot be modified: neither the elements nor the size. 
#8 What is a hash table, and how does it relate to dictionaries in Python3
.A hash table is a data structure that offers an efficient way to organize data for quick access. A key is transformed into an index (a process known as hashing) of an array element where the corresponding value is stored.
#9 Can lists contain different data types in Python
.lists in Python can contain elements of different data types. This is a fundamental characteristic of Python lists, making them highly versatile. 
For example, a single Python list can hold a combination of: 
Integers
Floats
Strings
Booleans
#10 Explain why strings are immutable in PythonP
.Strings are immutable in Python, meaning their content cannot be changed after they are created. This design choice offers several benefits
#11 What advantages do dictionaries offer over lists for certain tasks
.fast lookups, key-value associations, and complex data mappings, while lists are ideal for ordered collections, sequential processing, and simple data storage.
#12 Describe a scenario where using a tuple would be preferable over a list
.if you want the data in your collection to be read-only, never to change, and always remain the same and constant.
#13 How do sets handle duplicate values in Python
.Python sets are inherently designed to store only unique elements. This means that sets automatically handle duplicate values by disallowing their presence.
#14 How does the “in” keyword work differently for lists and dictionaries
.As mentioned above, the in operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list.
#15 Can you modify the elements of a tuple? Explain why or why not
.Tuples are immutable, meaning their contents cannot be changed after creation. This immutability is a core characteristic of tuples. 
#16 What is a nested dictionary, and give an example of its use case

#17 Describe the time complexity of accessing elements in a dictionary
.Accessing elements in a dictionary (also known as a hash map or associative array) typically has a time complexity of O(1) on average, which means it takes constant time regardless of the dictionary's size.
#18 In what situations are lists preferred over dictionaries3
.Lists are generally preferred over dictionaries when the order of elements is important and when you need to store multiple values for the same key
#19 Why are dictionaries considered unordered, and how does that affect data retrieval
.In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order
#20 Explain the difference between a list and a dictionary in terms of data retrieval.
.Lists retrieve elements based on their numerical index (position), while dictionaries retrieve

In [1]:
#Practical Questions
#1 Write a code to create a string with your name and print it
name = "kunal"
print(name)

kunal

In [2]:
#2Write a code to find the length of the string "Hello World"P
A="hello world"
len(A)

11

In [3]:
#3Write a code to slice the first 3 characters from the string "Python Programming"P
A= "python programming"
A[0:3]

'pyt'

In [4]:
#4 Write a code to convert the string "hello" to uppercase
A="hello"
A.upper()

'HELLO'

In [5]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple"P
A ="apple is fruit"
A.replace("apple","orange")

'orange is fruit'

In [7]:
#6 Write a code to create a list with numbers 1 to 5 and print itP
A=[1,2,3,4,5,6,7,8,9]
print(A)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
#7 Write a code to create a list with numbers 1 to 5 and print itP
A =[1,2,3,4]
A.append(10)

In [10]:
A

[1, 2, 3, 4, 10]

In [12]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
A=[1, 2, 3, 4, 5]
A.pop(2)

3

In [13]:
A

[1, 2, 4, 5]

In [14]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']P
A=['a', 'b', 'c', 'd']
A[1]

'b'

In [16]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50]
A=[10, 20, 30, 40, 50]
A[::-1]

[50, 40, 30, 20, 10]

In [17]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
A =(100,200,300)
print(A)

(100, 200, 300)

In [19]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
A=('red', 'green', 'blue', 'yellow')
A[2]

'blue'

In [20]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
A=(10, 20, 5, 15)
b =min(A)

In [21]:
b

5

In [22]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
A=('dog', 'cat', 'rabbit')
A[1]

'cat'

In [26]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
A=("apple","banana","kiwi")
"kiwi" in A

True

In [27]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
A={'a', 'b', 'c'}
print(A)

{'b', 'c', 'a'}

In [28]:
#17Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
A={1, 2, 3, 4, 5}
A.clear()

In [29]:
A

set()

In [30]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
A={1, 2, 3, 4}
A.remove(4)

In [31]:
A

{1, 2, 3}

In [32]:
#19. Write a code to find the union of two sets {1, 2, 3}{3, 4, 5} and {3, 4, 5}.
A={1, 2, 3}
B={3, 4, 5}
A|B

{1, 2, 3, 4, 5}

In [33]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
A={1, 2, 3}
B={2, 3, 4}
A&B

{2, 3}

In [36]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
A={"name":"kunal","age":18,"city":"delhi"}
print(A)

{'name': 'kunal', 'age': 18, 'city': 'delhi'}

In [38]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
A={'name': 'John', 'age': 25}
A["country"]="USA"
A

{'name': 'John', 'age': 25, 'country': 'USA'}

In [40]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
A={'name': 'Alice', 'age': 30}
A["name"]

'Alice'

In [44]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
A={'name': 'Bob', 'age': 22, 'city': 'New York'}
del A["age"]
A

{'name': 'Bob', 'city': 'New York'}

In [46]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
A={'name': 'Alice', 'city': 'Paris'}
"city" in A

True

In [49]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
A=[1,2,3,4]
B=("my name is kunal")
C={"NAME":"kunal","age":18}
print(A)
print(B)
print(C)

[1, 2, 3, 4]
my name is kunal
{'NAME': 'kunal', 'age': 18}

In [52]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
A=[1,3,45,87,55]
sorted(A)

[1, 3, 45, 55, 87]

In [56]:
#28. Write a code to create a list with strings and print the element at the third index.
A=["apple","banana","kiwi","protein"]
A[3]

'protein'

In [63]:
#29. Write a code to combine two dictionaries into one and print the result.
A={"d":5,"e":9}
B={"q":6,"u":5}
A.update(B)
A

{'d': 5, 'e': 9, 'q': 6, 'u': 5}

In [64]:
#30. Write a code to convert a list of strings into a set.
A=["apple", "banana", "orange", "apple", "grape", "banana"]
B=set(A)

In [65]:
print(B)

{'orange', 'grape', 'banana', 'apple'}